{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "rules": {
    "semi": [
      "error",
      "never"
    ],
    "linebreak-style": 0,
    "indent": [
      "error",
      4,
      {
        "SwitchCase": 1
      }
    ],
    "no-trailing-spaces": [
      "error",
      {
        "ignoreComments": true,
        "skipBlankLines": true
      }
    ],
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "__REDUX_DEVTOOLS_EXTENSION__"
        ]
      }
    ],
    "comma-dangle": [
      "error",
      {
        "arrays": "ignore",
        "objects": "never",
        "imports": "never",
        "exports": "never",
        "functions": "ignore"
      }
    ],
    "no-console": "off"
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": false,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "import"
  ]
}
