{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "rules": {
    "semi": [
      "error",
      "never"
    ],
    "linebreak-style": 0,
    "indent": [
      "error",
      2
    ]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": false,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "import"
  ]
}
